PYTHONPATH=/app

# General Config
CORS_EXPOSE_HEADERS=["X-Process-Time"]

# Database Config
DB_NAME=cookiecutter
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=postgres
DB_PORT=5432

# SMTP Config
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=<SMTP_USERNAME>
SMTP_PASSWORD=<SMTP_PASSWORD>
SMTP_EMAIL_FROM=<SMTP_EMAIL_FROM>

# Redis Config
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_TASK_QUEUE_DB=1

# Security Token Config
JWT_SECRET_KEY=<RANDOM_SECRET_KEY>

# Cerbos Config
CERBOS_HOST=cerbos
CERBOS_PORT=3593
